:root {
	--container-width: 1440px;
	--container-padding: 0 20px;

	--font-family: "PT Sans Caption", sans-serif;
	--font-logo: "Molot", sans-serif;
	--font-title: "Verdana", sans-serif;;

	--page-bg: #030202;
	--text-color: #fff;
	--red-color: #ee0000;
	--link-color: #fff;
}