.swiper-button-next::after, .swiper-button-prev::after{
	display: none !important;
}
.red__btn, .request__btn{
width: 269px;
min-height: 57px;
margin: 0 auto;
display: block;

font-weight: 700;
font-size: 20px;
background-color: var(--red-color);
@include notebook {
	 width: clamp(9.063rem, -4.322rem + 20.91vw, 14.5rem); //232/165 1440/1024
	 min-height: clamp(2rem, -1.846rem + 6.01vw, 3.563rem); //57/32 1440/1024
	 font-size: clamp(1rem, 0.385rem + 0.96vw, 1.25rem); //20/16 1440/1024
}
}


.swiper-button-next::after, .swiper-button-prev::after{
	display: none !important;

}

.swiper-button-wrapper {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	
	min-width: 320px;
	height:123px;
	display: grid;
	justify-content: center;
	z-index: 10;
	@include tablet {
	height: auto;
	grid-template-columns: 50px auto 50px;
	grid-template-rows: auto;
	align-items: start;
	@include mobile768 {
		grid-template-columns: 30px auto 30px;
	}
	}
}
.swiper-pagination__services {
	padding-top:24px !important;
	margin:0 auto !important;
	@include tablet {
		 grid-column: 2 / 3;
			}
	@include mobile768 {
		 padding-top: 18px !important;
	}
	}
.swiper-pagination-bullet {
	width: 9px !important;
	height: 9px !important;
	opacity: 1 !important;
	background: #fff  !important;
	@include notebook {
		 width: clamp(0.313rem, 0.027rem + 0.6vw, 0.563rem) !important; //9/5 1440/768
		 height: clamp(0.313rem, 0.027rem + 0.6vw, 0.563rem)!important;
	}
	&:last-child {
		margin:0 !important;
	}
	&:not(:last-child)	{
		margin: 0 34px 0 0!important;
		@include notebook {
			 margin-right: clamp(1.25rem, 0.679rem + 1.19vw, 1.75rem) !important; //28/20 1440/1200
		}
		@include mobile768 {
			 margin-right: clamp(0.625rem, 0.178rem + 2.24vw, 1.25rem) !important;  //20/10 767/320
		}
	}
	&-active {
		background: var(--red-color) !important;
		box-shadow: 0 0 17px 17px rgba(255, 255, 255, 0.2);
		@include mobile768 {
			box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);
		}
	}
}
.swiper-button-prev__services, .swiper-button-next__services {
	margin-top: auto !important;
	bottom:10px;
	@include tablet {
		width: clamp(1rem, 0.886rem + 0.57vw, 1.313rem) !important; //21/16 to 320
		height: clamp(0.938rem, 0.847rem + 0.45vw, 1.188rem) !important; //19/15 to 320
		 margin-top: unset !important;
		 bottom:unset !important;
		 display: flex;
		 align-self: end;
	}
}
.swiper-button-prev__services, .swiper-button-next__services {
	margin-left: 40px !important;
	@include tablet {
		position: static !important;
		margin-left:unset !important;
		margin-right: unset !important;
		// margin-top: 24px !important;
	}
}
.swiper-button-prev__services {
	@include tablet {
		 grid-column: 1 / 2 !important;
		 grid-row: 1 / 2;
	}
}
.swiper-button-next__services {
	margin-right: 40px !important;
	@include tablet {
	// margin: 24px 0 0 auto !important;
		margin-left:auto !important;
		margin-right: unset !important;
		 grid-column: 3 / 4 !important;
		 grid-row: 1 / 2;
	}
}

.swiper-button-next::after, .swiper-button-prev::after{
	display: none !important;
}

//Example Buttons Example Buttons Example Buttons Example Buttons
.examples__btns-wrapper {
grid-column:  1 / 2;
grid-row: 1 / 2;
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin-top:auto;

margin-bottom:25px;
gap:0 46px;
@include tablet {
	 gap: 0 clamp(0.75rem, -0.023rem + 3.86vw, 2.875rem); //46/15 1200/320
	 grid-row: 2 / 3;
}
}
.examples__btn-prev {
	
}
.examples__pagination {
	width: unset !important;
	.swiper-pagination-bullet {
		background: #fff !important;
		@include tablet1024 {
			 		top:50% !important;
		transform: translateY(-50%) !important;
		}

		&-active {
			background: var(--red-color) !important;
		}
	}
}
.examples__btn-next {
}


//Example Buttons Example Buttons Example Buttons Example Buttons