// .icons-wrapper {
// 	padding: 30px 0;
// 	display: flex;
// 	column-gap: 30px;
// }

.icon {
	fill: transparent;
	stroke: transparent;
	width: 62px;
	height: 62px;
}

.icon--arrow-left, .icon--arrow-right {
	width: 27px;
	height:23px; 
	fill: #808080;
	&:focus {
		fill: #fff;
	}
	@include tablet {
		width: clamp(0.688rem, 0.46rem + 1.14vw, 1.313rem) !important; //21/11 to 320
		height: clamp(0.688rem, 0.506rem + 0.91vw, 1.188rem) !important; //19/11 to 320
	}
}



