.mobile-nav {
	position: fixed;
	// top: 0;
	top: -100%;
	width: 100%;
	height: 100%;
    z-index: 99;

	display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
	background: #030202;
	transition: all 0.2s ease-in;
	.header__logo {
		position: static;
		margin:4px 0 30px 30px;
		font-size: 40px;
	}
}

.mobile-nav--open {
	top: 0;
}

.mobile-nav a {
	color: #fff;
}

.mobile-nav__list {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	row-gap: 30px;
	font-size: 20px;
	line-height: 150%;
	.nav__list-item {
		padding:9px 78px;
		&:active {
			border:1px solid var(--red-color);
		}
	}
}
