.section-grade {
	background-image: image-set(
	url('./../../img/grade/grade-bg.webp') 1x,
	url('./../../img/grade/grade-bg@2x.webp') 2x);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	}

.grade__grid {
	display: flex;
	gap:0 60px;
	padding:50px 95px 0px 104px;
	@include notebook {
		padding: clamp(2.688rem, -0.082rem + 4.33vw, 3.813rem)//61/43
		 clamp(0rem, -14.154rem + 22.12vw, 5.75rem) //92/0 to 1024
		0px 
		clamp(0rem, -14.154rem + 22.12vw, 5.75rem); //92/0
		 gap:0 33px;
	}
	@include tablet1024 {
		 gap:0px;
	}
	@include mobile768 {
		display: grid;
		 grid-template-columns: 1fr;
		 grid-template-rows: auto auto;
		 gap:20px 0;
		 padding-top: 20px;
	}
}
.grade__grid-content {
	font-family: var(--font-family);
font-weight: 400;
line-height: 150%;
color: rgba(0, 0, 0, 0.86);
margin:auto 0;

}
.grade__title {
	font-weight: 700;
	font-family: var(--font-title);
	line-height: 130%;
	color: rgba(0, 0, 0, 0.86);
	padding:0;
	margin-top:-30px;
	@include notebook {
		font-size:clamp(2.5rem, 1.786rem + 1.49vw, 3.125rem);//50/40 to 768
	}
	@include tablet {
		 line-height: 120%;
	}
	@include mobile768 {
		margin-top: unset;
		 text-align: center; 
		 font-size: clamp(1.563rem, 0.891rem + 3.36vw, 2.5rem); //40/25 
	}

}
.grade__desc {
	max-width: 576px;
	font-size: 26px;
	margin:40px 0 40px 0;
	line-height: 150%;
	a {
		font-weight: 700;
		color: #000000;
		font-size: 108%;
		&:hover, &:focus {
			color:var(--red-color);
		}
	}
	@include notebook {
		font-size: clamp(1.25rem, 0.821rem + 0.89vw, 1.625rem); //26/20 to 768
		 margin: clamp(1.375rem, 0.089rem + 2.68vw, 2.5rem) //40/22 to 768
		  0 clamp(1.25rem, -0.179rem + 2.98vw, 2.5rem) //40/20 to 768
		   0;
	}
	@include mobile768 {
		 max-width: unset;
		text-align: center;
		font-size: clamp(0.75rem, 0.482rem + 1.34vw, 1.125rem); //18/12 320
	}
}
.grade__number {
	position: relative;
font-weight: 700;
font-size: 30px;
&:hover, &:focus {
	color:var(--red-color);
}
a {
	position: absolute;
	width: 100%;
	height:100%;
}
@include notebook {
	font-size: clamp(1.375rem, 0.804rem + 1.19vw, 1.875rem); //30/22 to 768
}
@include mobile768 {
	 text-align: center;
	 margin:10px 0 10px 0;
	 font-size: clamp(0.938rem, 0.714rem + 1.12vw, 1.25rem); //20/15 320
}
}
.grade__grid-img {
	background-image: image-set(
	url('./../../img/grade/whatsapp-msg.webp') 1x,
	url('./../../img/grade/whatsapp-msg@2x.webp') 2x);
	background-position: bottom;
	background-size:contain;
	background-repeat: no-repeat;
	width: 830px;
	height: 600px;
	@include notebook {
		width: clamp(35.625rem, -4.375rem + 62.5vw, 51.875rem); //830 /570 to 1024
		height:clamp(23.75rem, 8.036rem + 32.74vw, 37.5rem); //600/380 1440 to 768
		// height:clamp(28.563rem, -69.875rem + 131.25vw, 48.25rem); //772/457 to 1200
	}
	@include mobile768 {
		 grid-row: 2 / 3;
		 margin: 0 auto;
		 background-size: 100% 123%;
		 background-position:top;
		 width: 330px;
		 height:389px;
	}
	@include mobile440 {
		background-size: 100% 100%;
		 width: 276px;
		 height: 370px;
	}
}